html,body {
  margin: 0;
  height: auto;
}

p {
  margin-bottom: 0;
}

/* Modal Header */
.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #696969;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  text-align: center;
  padding: 2px 16px;
  background-color: #696969;
  color: white;
}

/* Modal Content */
.modal-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  background-color: #696969;
  border: 2px solid #888;
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
