<!--body>

  < Modal content>
  <div class="modal-content">
    <div class="modal-body">
      <h2 style="text-align: center; color: white; padding-bottom: 20px">Join or Create a Video Channel for you and your friends:</h2>
      <mat-menu #createChannel="matMenu">
        <mat-list>
          <mat-list-item> Channel ID: {{ channelID }} </mat-list-item>
          <button mat-raised-button style="background-color: dodgerblue;" (click)="videoCalling()">Invite & Join Channel</button>
        </mat-list>
      </mat-menu-->

      <!--mat-menu #joinChannel="matMenu">
        <input [(ngModel)]="joinWithID" matInput placeholder="Channel ID"
               (click)="$event.stopPropagation()"
        style="display: block; margin-left: auto; margin-right: auto;">
        <button mat-raised-button style="background-color: dodgerblue; display: block; margin-left: auto; margin-right: auto;"
                (click)="joinChannelID()">Add Channel</button>
        <button mat-raised-button style="background-color: dodgerblue; display: block; margin-left: auto; margin-right: auto;"
                (click)="videoCalling()">Join Channel</button>
      </mat-menu>

      <button mat-raised-button
              style="display: block; margin-right: auto; margin-left: auto; width: 70%; background-color: dodgerblue;"

      (click)="">
        Create Channel
      </button>

      <button mat-raised-button
              style="display: block; margin-right: auto; margin-left: auto; width: 70%; background-color: dodgerblue; margin-top: 10px"
              [matMenuTriggerFor]="joinChannel">
        Join Channel
      </button>

      <button mat-raised-button (click)="cancelVideo()"
              style="display: block; margin-right: auto; margin-left: auto; width: 70%; background-color: dodgerblue; margin-top: 10px">
        Cancel
      </button>
    </div>
  </div>
</body-->
