<head>
  <title>Chat</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
</head>



<body>
<div class="container-fluid h-100">
  <div class="row justify-content-center h-100">
    <div class="my-container" [class.is-mobile]="mobileQuery.matches">
      <mat-toolbar color="accent" class="my-toolbar">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon class="white-icon" svgIcon="round-menu-24px" aria-hidden="false" aria-label="menu-icon"></mat-icon></button>
        <h1 class="digiag">InstaMessageMessager</h1>
      </mat-toolbar>

      <mat-sidenav-container class="home-sidenav-container"
                             [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav mode="over"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56"> <!--[mode] = mobileQuery.matches ? 'over' : 'side' -->
          <div class="chat"><div class="card contacts_card"> <!--col-md-4 col-xl-3 // mb-sm-3 mb-md-0-->
            <div class="card-header">
              <div class="input-group">
                <input type="text" placeholder="Search..." name="" class="form-control search" id="searchID" (keyup)="searchContacts()">
                <div class="input-group-prepend">
                  <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                </div>
              </div>
            </div>
            <div class="card-body contacts_body">
              <ul class="contacts" id="contactsUL">
                <li class="active">
                  <div id="{{ i.userID }}" class="d-flex bd-highlight contactList" *ngFor="let i of users" (click)="setActiveContact(i.userID, snav)">
                    <div class="img_cont">
                      <img
                        id="profile-picture"
                        src= "{{ i.profilePicture }}"
                        class="rounded-circle user_img"
                      >
                      <!-- img src="" alt="" (click)="enlargeImg()" -->

                      <span class="{{ i.onlineIcon }}"></span>

                      <!--  HTML for Modal image  -->
                      <div id="myModal" class="modal">
                        <!-- The Close Button -->
                        <!-- span class="close" (click)="closeModal()">&times;</span -->
                        <span class="close">&times;</span>
                        <!-- Modal Content (The Image) -->
                        <img class="modal-content" id="img01">
                      </div>
                    </div>

                    <!-- Footer containing online status  -->
                    <div class="user_info">
                      <span>{{ i.name }}</span>
                      <p>{{ i.status }}</p>
                    </div>
                  </div>
                </li>
              </ul>
              <hr class="end-of-chat">
              <hr class="end-of-chat">
            </div>
            <div class="card-footer"></div>
          </div></div>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="chat"> <!-- col-md-8 col-xl-6  -->
            <div class="card">
              <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    <img src="{{ this.activeProfilePicture }}" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                  </div>
                  <div class="user_info">
                    <span>Chat with {{ this.activeContactName }}</span>
                    <p>{{ message.length + ' messages' }}</p>
                  </div>
                  <div class="video_cam">
                    <span style="margin-right: 80%"><i id="video-call" class="fas fa-video" (click)="videoCalling()"></i></span>
                  </div>
                </div>
                <span id="action_menu_btn" (click)="openSettings()"><i id="settings" class="fas fa-ellipsis-v"></i></span>
              </div>
              <div id="bodydiv" style="overflow: auto; display: flex; flex-direction: column-reverse;" class="card-body msg_card_body">

                <div class="d-flex justify-content-start mb-4"
                     *ngFor="let i of message">

                  <!-- Plain Text -->
                  <div *ngIf="i.msgType === 'msgText'"
                       [ngClass]="{ 'msg_container_send': i.msgID === thisUserID, 'msg_container': i.msgID !== thisUserID }">
                    {{ i.msgContents }}
                    <span
                      [ngClass]="{ 'msg_time_send': i.msgID === thisUserID, 'msg_time': i.msgID !== thisUserID }">
                {{ i.arrivalTime }}
              </span>
                  </div>

                  <!-- Images -->
                  <div *ngIf="i.msgType === 'msgImage'"
                       [ngClass]="{ 'msg_container_send': i.msgID === thisUserID, 'msg_container': i.msgID !== thisUserID }" style="padding-left: 1px; padding-right: 1px">
                    <img src="{{ i.msgContents }}" style="width: 80%; display: block; margin-left: auto; margin-right: auto">
                    <span
                      [ngClass]="{ 'msg_time_send': i.msgID === thisUserID, 'msg_time': i.msgID !== thisUserID }">
                {{ i.arrivalTime }}
              </span>
                  </div>

                  <!-- Video -->
                  <div *ngIf="i.msgType === 'msgVideo'"
                       [ngClass]="{ 'msg_container_send': i.msgID === thisUserID, 'msg_container': i.msgID !== thisUserID }">
                    <video style="max-height: 150px; width: 200px" controls="controls">
                      <source src="{{ i.msgContents }}">
                    </video>
                    <span
                      [ngClass]="{ 'msg_time_send': i.msgID === thisUserID, 'msg_time': i.msgID !== thisUserID }">
                {{ i.arrivalTime }}
              </span>
                  </div>

                  <!-- Audio -->
                  <div *ngIf="i.msgType === 'msgAudio'"
                       [ngClass]="{ 'msg_container_send': i.msgID === thisUserID, 'msg_container': i.msgID !== thisUserID }">
                    <audio controls="controls">
                      <source src="{{ i.msgContents }}">
                    </audio>
                    <span
                      [ngClass]="{ 'msg_time_send': i.msgID === thisUserID, 'msg_time': i.msgID !== thisUserID }">
                {{ i.arrivalTime }}
              </span>
                  </div>

                </div>
              </div>
              <div class="card-footer">
                <div class="input-group">
                  <div class="input-group-append">
              <span class="input-group-text attach_btn"><a id="attachment" (click)="OpenMultiMedia()" class="fas fa-paperclip"></a>
                <a (click)="initiateRecording()" style="margin-left: 1.2em; " class="fas" *ngIf="!recording"><mat-icon>mic</mat-icon></a>
                <a (click)="stopRecording()" style="margin-left: 1.2em; color: red;" class="fas" *ngIf="recording"><mat-icon>mic</mat-icon></a></span>
                  </div>
                  <input id="msgContainer" (keydown.enter)="onGenerateNewMessage()" type="text" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="newMessage">
                  <div class="input-group-append">
                    <span class="input-group-text send_btn" (click)="onGenerateNewMessage()"><i class="fas fa-location-arrow"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
</body>


<router-outlet></router-outlet>
