<!-- Not Working Yet -->
<ul style="list-style-type: none">
  <li>
    <a style="color: black;" href="http://localhost:4200/view-settings/system.php?c=restart"><mat-icon class="IconStyle">settings_backup_restore</mat-icon>Restart</a>
  </li>
  <li>
    <a style="color: black;" href="system.php?c=shutdown"><mat-icon class="IconStyle">power_settings_new</mat-icon>Shutdown</a>
  </li>
  <li (click)="selectTheme()">
    <a style="color: black;" href="\chatWindow"><mat-icon class="IconStyle">opacity</mat-icon>Theme</a>
  </li>
  <li>
    <a style="color: black;" href=""><mat-icon class="IconStyle">exit_to_app</mat-icon>Logout</a>
  </li>
</ul>
