<!-- Not Working Yet -->
<ul style="list-style-type: none">
  <li>
    <a style="color: black;" href="shutdown.php?command=restart"><mat-icon class="IconStyle">settings_backup_restore</mat-icon>Restart</a>
  </li>
  <li>
    <a style="color: black;" href="shutdown.php?command=shutdown"><mat-icon class="IconStyle">power_settings_new</mat-icon>Shutdown</a>
  </li>
  <li (click)="selectTheme()">
    <a style="color: black;" href="\chatWindow"><mat-icon class="IconStyle">opacity</mat-icon>Theme</a>
  </li>
</ul>
