/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Indigo pink theme commented out since a custom theme was written

.MultimediaCSS {
  mat-dialog-container {
    background: gray;
  }
}

body {
  height: 100vh;
}

.mat-drawer-inner-container {
  background: #BFC9CA;
}

.mat-drawer-content {
  background: #BFC9CA;
}

.card[_ngcontent-cal-c1] {
  padding: 0px !important;
}
