#agora_local{
  position: absolute;
  height: 250px;
  width: 250px;
  display: inline-block;
  top: 20px;
  left: 20px;
}

.remote-containers div{
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 25px;
  top: 0;
  left: 0;
}
