
    <!-- Popup is nog nie lekker nie sal later fix maar tenminste kan julle nou sien wat aan gaan as julle werk -->
    <!-- <h2><b>Media Uploader</b></h2>
    <p>Choose a file type to upload:</p> -->
    <button mat-button (click)="OpenImage()"><mat-icon class="IconStyle">perm_media</mat-icon></button>
    <!-- <button mat-button><mat-icon class="IconStyle">note_add</mat-icon></button> -->
    <button mat-button (click)="OpenVideo()"><mat-icon class="IconStyle">movie</mat-icon></button>
    <button mat-button (click)="OpenAudio()"><mat-icon class="IconStyle">queue_music</mat-icon></button>
    <!-- <p><b>File Name: </b>test.pdf</p>
    <button style="margin-right: 4em;" mat-raised-button color="primary" (click)="testSnackBar()">Upload</button>
    <button mat-raised-button color="warn" (click)="Close()">Close</button> -->



